Question to work around: How do infrastructure projects like light rail, public transit, and schools influence housing, home prices, and the population in surrounding areas?

## Case Study: King County

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
housing_data = pd.read_csv("datasets/Neighborhood_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
print("Housing Data Loaded")
housing_data.sample(n=5)

Housing Data Loaded

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31
8557,105021,9267,Kingston,neighborhood,AL,AL,Birmingham,"Birmingham-Hoover, AL",Jefferson County,NaN,...,59134.547348,60582.389261,61282.943740,61668.768999,61557.634351,61155.667625,60279.853356,59783.603791,59860.972673,60613.244455
385,273554,406,East Las Vegas,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,78255.007149,...,293886.445963,296527.818082,299144.925711,301742.011668,303900.793850,305622.624298,306476.918560,307006.536067,308060.751398,309444.758036
11621,269796,13108,Dolfield,neighborhood,MD,MD,Baltimore,"Baltimore-Columbia-Towson, MD",Baltimore City,53813.948449,...,177312.297101,179590.430541,181800.162305,182085.608723,180857.253129,178903.036803,177355.550093,176498.351676,177006.524453,179702.083399
14396,762386,16630,Don Diego,neighborhood,NM,NM,Santa Fe,"Santa Fe, NM",Santa Fe County,NaN,...,609914.895314,613476.961909,619626.002721,623093.256132,624201.879886,625207.134537,626789.281793,627289.026757,625210.862898,621987.303348
17152,817457,20089,Briar Ridge,neighborhood,CO,CO,Thornton,"Denver-Aurora-Lakewood, CO",Adams County,155549.425790,...,469625.948169,471199.111170,471881.859179,471513.845853,470810.175021,470320.205614,470595.944677,470802.432750,471138.151028,471390.049192

In [3]:
schools_geo = gpd.read_file("datasets/School_Sites_in_King_County___schsite_point.geojson")
print("School Sites Data Loaded")
schools_geo.sample(n=5)

School Sites Data Loaded

,OBJECTID,FEATURE_ID,ESITE,CODE,FEATUREDES,NAME,ABB_NAME,ADDRESS,ZIPCODE,LONG_CEN,LAT_CEN,OSPI_CODE,SCH_CLASS,DISTRICT,PIN,MAJOR,MINOR,geometry
210,211,612,568273,660,School-Elementary,Benjamin Rush Elementary School,Rush,6101 152nd Ave NE,98052,-122.138596,47.661806,0.0,10,LAKE WASHINGTON,1125059014,112505,9014,POINT (-122.13859 47.66181)
14,15,185,99,660,School-Elementary,Somerset Elementary School,Somerset,14100 Somerset Blvd SE,98006,-122.151787,47.562919,3789.0,10,BELLEVUE,1524059091,152405,9091,POINT (-122.15179 47.56292)
333,334,6600419,8602,665,School-Other Facility,Administration Center-Kent,Admin,12033 SE 256th St,98030,-122.179360,47.370906,0.0,10,KENT,2822059177,282205,9177,POINT (-122.17936 47.37091)
471,472,6600394,491289,664,School-Alternative,Orca K-8 School,Orca,5215 46th Ave S,98118,-122.275956,47.554779,0.0,10,SEATTLE,1704900242,170490,0242,POINT (-122.27595 47.55478)
590,591,548,9278,662,School-High,Mercer Island High School,Mercer Island,9100 SE 42nd St,98040,-122.217235,47.571614,3029.0,10,MERCER ISLAND,1824059005,182405,9005,POINT (-122.21723 47.57162)

In [4]:
transit_routes = gpd.read_file("datasets/Transit_Routes_for_King_County_Metro___transitroute_line.geojson")
print("Transit Routes Data Loaded")
transit_routes.sample(n=5)

Transit Routes Data Loaded

,OBJECTID,CHANGE_NUM,MINOR_CHANGE_NUM,CURRENT_NEXT_CODE,IN_SERVICE_FLAG,ROUTE_ID,LOCAL_EXPRESS_CODE,ROUTE_NUM,SHAPE_Length,geometry
97,98,157,3,IN SERVICE,Y,100340,L,98,10163.819676,"MULTILINESTRING ((-122.33744 47.61329, -122.33..."
57,58,157,3,IN SERVICE,Y,100184,L,31,71059.363228,"MULTILINESTRING ((-122.39150 47.63435, -122.39..."
0,1,157,3,IN SERVICE,Y,100001,L,1,39821.323684,"MULTILINESTRING ((-122.31774 47.59920, -122.31..."
6,7,157,3,IN SERVICE,Y,100214,E,372,94489.024502,"MULTILINESTRING ((-122.30813 47.65204, -122.30..."
63,64,157,3,IN SERVICE,Y,102718,L,184,31191.926848,"MULTILINESTRING ((-122.21911 47.27564, -122.22..."

In [5]:
transit_stops = gpd.read_file("datasets/Transit_Stops_for_King_County_Metro___transitstop_point.geojson")
print("Transit Stops Data Loaded")
transit_stops.sample(n=5)

Transit Stops Data Loaded

,OBJECTID,CHANGE_NUM,MINOR_CHANGE_NUM,ACCESSIBILITY_DECAL,ACCESSORY_SIGN,STOP_ID,TRANS_LINK_ID,STOP_STATUS,STOP_TYPE,AUTH_CODE,...,ROUTESIGN,ROUTESIGN_OWNER,SIGN_MOUNTING_DIR,SIGNPOST,SIGNPOST_ANCHOR,SCHEDULE_HOLDER,NUM_SHELTERS,GISOBJID,DISPLACEMENT,geometry
16314,16315,157,0,UNK,Unknown,60204,252913,CLO,REG,UNK,...,Unknown,UNK,None,Unknown,Unknown,UNK,0,100014156.0,3867.8,POINT (-122.29140 47.29185)
9399,9400,157,1,UNK,None,13280,154612,CLO,REG,SEA,...,Unknown,KCM,Away,2in metal,Unknown,Single,1,NaN,3638.1,POINT (-122.31469 47.61378)
28892,28893,157,0,UNK,None,42180,8307,CLO,REG,POS,...,Unknown,KCM,Away,2in metal,Base plate,Single,0,NaN,111.9,POINT (-122.30310 47.53739)
4437,4438,157,1,YES,None,44968,111939,ACT,REG,KC,...,A1 <=2 rts,KCM,Away,2in metal,Cncrt-earth,None,0,3672.0,4674.9,POINT (-122.10488 47.48767)
6887,6888,157,1,YES,None,39480,147390,ACT,REG,SEA,...,A1 <=2 rts,KCM,Away,2in metal,Unknown,None,0,3389.0,138.0,POINT (-122.39532 47.57036)

In [6]:
census_tracts = gpd.read_file("datasets/census/tract20/tract20.shp")
print("Census Tracts Data Loaded")
census_tracts.sample(n=5)

Census Tracts Data Loaded

,STATEFP,COUNTYFP,COUNTYNAME,TRACTCE,GEOID20,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,ALANDMI,AWATERMI,INTPTLAT,INTPTLON,XCOORD,YCOORD,geometry
435,53,033,King,005304,53033005304,53.04,Census Tract,G5020,S,73030,0,0.02820,0.00000,47.656100,-122.315026,1.193092e+06,8.522478e+05,"POLYGON ((1192269.264 852001.460, 1192299.611 ..."
377,53,033,King,000700,53033000700,7,Census Tract,G5020,S,1294438,0,0.49979,0.00000,47.715690,-122.301861,1.196832e+06,8.739068e+05,"POLYGON ((1194200.781 875334.240, 1194374.433 ..."
1648,53,071,Walla Walla,920100,53071920100,9201,Census Tract,G5020,S,1471785691,12137,568.25966,0.00469,46.142704,-118.360223,2.180058e+06,3.002431e+05,"POLYGON ((2061238.678 274908.858, 2061830.872 ..."
1694,53,073,Whatcom,010301,53073010301,103.01,Census Tract,G5020,S,93093202,732550,35.94349,0.28284,48.957378,-122.521294,1.152305e+06,1.327565e+06,"POLYGON ((1136184.828 1322876.612, 1136199.729..."
554,53,033,King,021000,53033021000,210,Census Tract,G5020,S,2629269,5753,1.01517,0.00222,47.739601,-122.335785,1.188998e+06,8.834669e+05,"POLYGON ((1186347.746 886191.769, 1186376.526 ..."

In [7]:
demographics = pd.read_csv("datasets/census/productDownload_2025-01-19T210140/ACSDP5Y2020.DP05-Data.csv")
print("Demographics Data Loaded")
demographics.sample(n=5)

Demographics Data Loaded

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0085PM,DP05_0086PE,DP05_0086PM,DP05_0087PE,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,Unnamed: 358
259,1400000US53033024302,"Census Tract 243.02, King County, Washington",4358,506,2105,328,2253,263,93.4,13.6,...,3.8,(X),(X),3045,(X),49.2,4.0,50.8,4.0,NaN
443,1400000US53033032008,"Census Tract 320.08, King County, Washington",4722,654,2409,378,2313,342,104.2,13.4,...,2.6,(X),(X),3400,(X),49.5,4.2,50.5,4.2,NaN
5,1400000US53033000202,"Census Tract 2.02, King County, Washington",4194,479,2113,307,2081,313,101.5,19.0,...,3.1,(X),(X),2968,(X),51.5,4.7,48.5,4.7,NaN
21,1400000US53033001400,"Census Tract 14, King County, Washington",5517,708,2480,381,3037,453,81.7,13.3,...,5.9,(X),(X),4208,(X),46.0,5.2,54.0,5.2,NaN
307,1400000US53033026700,"Census Tract 267, King County, Washington",5604,822,2923,578,2681,391,109.0,20.9,...,5.3,(X),(X),3141,(X),47.3,5.7,52.7,5.7,NaN

In [8]:
# Filter for King County data
housing_data = housing_data[housing_data["CountyName"] == "King County"]

# Drop unnecessary columns
columns_to_keep = ["RegionName", "CountyName"] + list(housing_data.columns[10:])
housing_data = housing_data[columns_to_keep]

# Reshape the data to long format
housing_data = pd.melt(housing_data, id_vars=["RegionName", "CountyName"],
                       var_name="Date", value_name="MedianPrice")

housing_data["Date"] = pd.to_datetime(housing_data["Date"])

print("Cleaned Housing Data:")
housing_data.sample(n=5)

Cleaned Housing Data:

            RegionName   CountyName       Date    MedianPrice
19751   Lakeland North  King County 2005-11-30  281480.327942
4576      Capitol Hill  King County 2001-06-30  324519.509304
1664     Liberty Ridge  King County 2000-07-31            NaN
42156   Madison Valley  King County 2012-05-31  436027.440219
27229  East Queen Anne  King County 2008-01-31  604556.054897

In [9]:
print("Transit Routes CRS:", transit_routes.crs)
print("Transit Stops CRS:", transit_stops.crs)

if transit_routes.crs != "EPSG:4326":
    transit_routes = transit_routes.to_crs(epsg=4326)

if transit_stops.crs != "EPSG:4326":
    transit_stops = transit_stops.to_crs(epsg=4326)

if census_tracts.crs != "EPSG:4326":
    census_tracts = census_tracts.to_crs(epsg=4326)
# Standardize demographics
demographics = demographics.rename(columns={"GEO_ID": "CensusTract", "DP05_0001E": "Population", "DP05_0002E": "MedianAge"})
demographics["CensusTract"] = demographics["CensusTract"].str[-6:]  # Extract tract ID


print("Cleaned Demographics Data:")
demographics.sample(n=5)

Transit Routes CRS: EPSG:4326
Transit Stops CRS: EPSG:4326
Cleaned Demographics Data:

,CensusTract,NAME,Population,DP05_0001M,MedianAge,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0085PM,DP05_0086PE,DP05_0086PM,DP05_0087PE,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,Unnamed: 358
410,031204,"Census Tract 312.04, King County, Washington",6211,878,3134,607,3077,376,101.9,16.3,...,4.0,(X),(X),4684,(X),50.2,2.5,49.8,2.5,NaN
278,025103,"Census Tract 251.03, King County, Washington",4135,468,2193,315,1942,295,112.9,21.6,...,2.5,(X),(X),3150,(X),54.3,5.2,45.7,5.2,NaN
361,029602,"Census Tract 296.02, King County, Washington",6510,682,3379,490,3131,333,107.9,15.8,...,2.3,(X),(X),4294,(X),51.2,2.7,48.8,2.7,NaN
217,022402,"Census Tract 224.02, King County, Washington",5413,729,2445,363,2968,514,82.4,15.2,...,2.1,(X),(X),4064,(X),42.5,5.0,57.5,5.0,NaN
416,031400,"Census Tract 314, King County, Washington",6128,465,3272,389,2856,311,114.6,19.6,...,3.2,(X),(X),4762,(X),50.3,4.3,49.7,4.3,NaN

In [10]:
zillow_neighborhoods = gpd.read_file("datasets/Zillow_Neighborhoods/ZillowNeighborhoods.gdb")

zillow_neighborhoods = zillow_neighborhoods[zillow_neighborhoods["County"] == "King"]
zillow_neighborhoods = zillow_neighborhoods.to_crs(epsg=32610)  # Project to UTM Zone 10N for accurate distance calculations

housing_geo = zillow_neighborhoods.merge(housing_data, left_on="Name", right_on="RegionName", how="inner")

transit_stops = transit_stops.to_crs(epsg=32610)

# 1-mile buffer
transit_stops["buffer"] = transit_stops.geometry.buffer(1609)

housing_near_transit = gpd.sjoin(housing_geo, transit_stops.set_geometry("buffer"), how="inner", predicate="within")
print("Housing Near Transit Stops:")
housing_near_transit.sample(n=5)

Housing Near Transit Stops:

,State,County,City,Name,RegionID,Shape_Length,Shape_Area,geometry_left,RegionName,CountyName,...,ROUTESIGN,ROUTESIGN_OWNER,SIGN_MOUNTING_DIR,SIGNPOST,SIGNPOST_ANCHOR,SCHEDULE_HOLDER,NUM_SHELTERS,GISOBJID,DISPLACEMENT,geometry_right
65625,WA,King,Bellevue,Factoria,250603,0.071540,0.000199,"MULTIPOLYGON (((562530.065 5270012.348, 562673...",Factoria,King County,...,A2 <=6 rts,KCM,Away,2in metal,Unknown,Midsize,0,8274.0,41.0,POINT (562456.832 5269223.141)
16778,WA,King,Renton,South Union,272492,0.030353,0.000057,"MULTIPOLYGON (((562964.369 5259807.271, 563162...",South Union,King County,...,A1 <=2 rts,KCM,Away,Light,Band,None,0,4645.0,1810.2,POINT (562976.097 5259343.419)
59410,WA,King,Seattle,Belltown,271808,0.049495,0.000089,"MULTIPOLYGON (((548292.331 5274109.645, 548812...",Belltown,King County,...,Unknown,UNK,None,Unknown,Unknown,UNK,0,100015817.0,18869.1,POINT (548800.808 5273466.864)
28170,WA,King,Seattle,Holly Park,250889,0.050281,0.000099,"MULTIPOLYGON (((553238.745 5265900.969, 553337...",Holly Park,King County,...,Unknown,KCM,Away,2in metal,Cncrt-asphlt,None,0,NaN,6817.6,POINT (554008.017 5265313.154)
64697,WA,King,Des Moines,Zenith,252402,0.065922,0.000253,"MULTIPOLYGON (((550776.135 5249332.756, 551024...",Zenith,King County,...,Unknown,UNK,None,Unknown,Unknown,UNK,0,100014633.0,2806.1,POINT (551656.382 5248363.133)